#too many files to ignore turn into whitelist
*
!*/

#loose files
!/.gitignore
!/README.txt

#loose config
!config/apotheosis/garden.cfg
!config/jeresources/world-gen.json
!config/DankNull.cfg
!config/dynmap.cfg

#dynmap
!dynmap/renderdata/

#scripts
!scripts/zzLostsTweaks/
